
# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Directories
/doc/

# Binaries and Object Files
*.o
*.obj
*.a
*.so
*.lib
*.dll

# Project Executable
copy
